<div id="nav-wrap">
 <ul id="navigation"><!-- navigation start -->
						<li><%= link_to "Home", :controller => "pages", :action => "home" %></li>
						<li><%= link_to "About", :controller => "pages", :action => "about" %></li>
						<li><%= link_to "Gallery", :controller => "pages", :action => "gallery" %></li>
						<li><%= link_to "Equipment", :controller => "products", :action => "index" %></li>		
						<li><%= link_to "Contact", :controller => "pages", :action => "contact" %></li>
 </ul><!-- navigation end -->
</div>