
<!-- <div id="nav-wrap">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	      	<ul class="nav">
			  <li class="active">
			    <a href="#">Home</a>
			  </li>
			  <li><a href="#">Link</a></li>
			  <li><a href="#">Link</a></li>
			</ul>
			
			<form class="navbar-search pull-left">
			  <input type="text" class="search-query" placeholder="Search">
			</form>
			
	    </div>
	  </div>
	</div>
</div> -->

<div id="nav-wrap">
	<ul id="navigation" class"unstyled">
		<li><%= link_to "Home", pages_home_path %></li>
		<li><%= link_to "About", pages_about_path %></li>
		<li><%= link_to "Gallery", pages_gallery_path %></li>
		<li><%= link_to "Equipment", products_path %></li>		
		<li><%= link_to "Contact", contact_us_path %></li>
	</ul>
</div>