<div id="wrapper"><!-- wrapper start -->
	<div id="top_wrapper"><!-- top wrapper start -->
		<div id="top_wrapper_line_t"></div><!-- top line of the top wrapper -->
		<div id="header" class="broof_grid"><!-- header start -->

			<a href="<%= root_path %>" id="logo"><img src="../../images/logo.png" alt="logo" /></a><!-- Your logo here -->

			<%= render 'pages/nav'%>

			<div class="clear"></div><!-- clear navigation and logo -->
		</div><!-- header end -->
	</div><!-- top wrapper end -->

	<div id="top_wrapper_line_b"></div><!-- bottom line of the top wrapper -->

	<div class="broof_grid"><!-- content start -->



		<div class="devider_top"></div>

		<ul class="portfolio">
			<li class ="one_half">
				<span class="title">Jibs &amp; Cranes</span>
				<a id="various" href="../products/category_search/Jibs%20&amp;%20Cranes"><%= image_tag "equip_jib.jpg" %></a>
			</li>

			<li class ="one_half">
				<span class="title">Remote Heads</span> 
				<a id="various" href="../products/category_search/Remote%20Heads"><%= image_tag "equip_head.jpg" %></a>
			</li>

			<li class ="one_half">
				<span class="title">Dollies &amp; Tracks</span>
				<a id="various" href="../products/category_search/Dollies%20&amp;%20Tracks"><%= image_tag "equip_track.jpg" %></a>
			</li>

			<li class ="one_half">
				<span class="title">Vehicles</span>
				<a id="various" href="../products/category_search/Vehicles"><%= image_tag "equip_car.jpg" %></a>
			</li>

			<li class ="one_half">
				<span class="title">Accessories</span>
				<a id="various" href="../products/category_search/Accessories"></a>
			</li>
		</ul>

	</div><!-- content end -->