<div class="modal hide fade" id="product_<%= product.id %>">
	<div class="modal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3><%= product.title %></h3>
		</div>
		<div class="modal-body">
			<%= image_tag product.image.url(:standard) %>
			
			<table class="table table-striped">
				<tbody>
					<% product.specs.each do |spec| %>
					<tr>
						<td><strong><%= spec.title %></strong></td>
						<td><%= spec.value %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			
			<p><%= product.description %></p>
			
			<%= image_tag "file.gif" %><%= link_to "Download PDF", product.pdf.url(:original, false), :target => :blank %>
		
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn">Close</a>
		</div>
	</div>
</div>