<div class="devider_top"></div>

<ul class="portfolio">
	<li class ="one_half">
		<span class="title">MINI JIB</span>
		<a id="various" href="/products/sub_category_search/Mini-Jib"><%= image_tag "" %></a>
	</li>

	<li class ="one_half">
		<span class="title">JIMMY JIB TRIANGLE</span> 
		<a id="various" href="/products/sub_category_search/Jimmy%20Jib%20Triangle"><%= image_tag "" %></a>
	</li>

	<li class ="one_half">
		<span class="title">JIMMY JIB TUBE</span>
		<a id="various" href="/products/sub_category_search/Jimmy%20Jib%20Tube"><%= image_tag "" %></a>
	</li>

	<li class ="one_half">
		<span class="title">JUMBO</span>
		<a id="various" href="/products/sub_category_search/Jumbo"><%= image_tag "" %></a>
	</li>

	<li class ="one_half">
		<span class="title">TECHNO JIB</span>
		<a id="various" href="/products/sub_category_search/Techno%20Jib"><%= image_tag "" %></a>
	</li>
</ul>
