<!DOCTYPE html>
<html>
<head>
	<title>Spectrum Camera Cranes</title>
	<%= safe_stylesheet_link_tag %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<link rel="stylesheet" href="../lib/js/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="../lib/js/nivo-slider/nivo-slider.css" type="text/css" media="screen" />

	<script src="../lib/js/galleria/galleria-1.2.5.js"></script>
	<script src="../lib/js/galleria/plugins/picasa/galleria.picasa.min.js"></script>

	<script type="text/javascript">
	$(window).load(function() {
		$('#slider').nivoSlider({
			effect: 'fade',
		});
	});
	</script>
	
	<!-- GOOGLE ANALYTICS -->
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32557764-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>
<body id="dynamic">
	
	<% content_for_admin do  %>
	<div id="login">
		<%= user_login %> |
		<%= link_to "Home", products_path %> |
		<%= link_to "New", new_product_path %>
	</div>
	<% end %>
	
	<div class="alert-message">
		<a class="close" data-dismiss="alert">×</a>
		<% flash.each do |name, message| %>
		<%= content_tag(:div, message, :class => name) %>
		<% end %>
	</div>

	<script type="text/javascript">
	window.setTimeout(function() {
	    $(".alert-message").fadeTo(500, 0).slideUp(500, function(){
	        $(this).remove(); 
	    });
	}, 5000);
	</script>

	<%= yield %>



</body>
</html>
