<!DOCTYPE html>
<html>
<head>
	<title>Spectrum Camera Cranes</title>
	<%= safe_stylesheet_link_tag %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<link rel="stylesheet" href="../lib/js/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="../lib/js/nivo-slider/nivo-slider.css" type="text/css" media="screen" />

	<script type="text/javascript">
	$(window).load(function() {
		$('#slider').nivoSlider({
			effect: 'fade',
		});
	});
	</script>

</head>
<body id="dynamic">

	<div id="login">
		<%= user_login %>
		<%= link_to "Home", products_path %>
		<% content_for_admin do  %>
		<%= link_to "new", new_product_path %>
		<% end %>
	</div>

	<% flash.each do |name, message| %>
	<%= content_tag(:div, message, :class => name) %>
	<% end %>

	<%= yield %>



</body>
</html>
